<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/output.css">
</head>
<body>
    <header>
        <h1>{{ .Title }}</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
    <div class="">
        <h1 class="text-xs font-extrabold text-purple">tailwind works</h1>
    </div>
