{{ define "layout" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/output.css" />
  </head>

  <body>
    {{ template "header.html" . }}
    <!-- Include header -->

    <main>
      {{ block "content" . }} {{ end }}
      <!-- Block for page-specific content -->
    </main>

    {{ template "footer.html" . }}
    <!-- Include footer -->
  </body>
</html>
{{ end }}
